.App {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-nav {
  width: 80%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.213);
}
.header-logo {
  width: 50%;
}
.content {
  width: 100%;
}
.spiner {
  margin-top: 10%;
  text-align: center;
}
.books-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  margin: 10px;
  width: 25%;
  position: relative;
}
.card.isFavorite {
  box-shadow: 0px 0px 6px 1px springgreen;
}
.card-text {
  display: flex;
  flex-direction: column;
}
.detail-book-page {
  width: 80%;
}
.houses-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.char-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn-secondary {
  margin: 60px;
}
.char-ext {
  cursor: pointer;
}
/* =================main=================== */
.main {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.card-main {
  cursor: pointer;
}
.card-img-top {
  padding: 20px;
}
/* ================footer================ */
.last-seen-header {
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.712);
}
.last-seen-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}
.last-seen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
}
.card-lastseen {
  height: 60%;
  width: 15%;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 10px;
}
/* =============star============ */
.star {
  position: absolute;
  bottom: 5px;
  right: 10px;
  cursor: pointer;
}
/* ===============FAVORITE============ */
.favorites-page {
  display: flex;
  flex-wrap: wrap;
  flex: content;
  /* justify-content: space-around; */
}
.btn-secondary {
  margin: 0;
}
